*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: sticky;
    top: 0;
    background-color: #0f172a;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-links, .profile-dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li, .profile-dropdown {
    display: inline-block;
    margin-left: 20px;
}
.nav-links li a, .profile-dropdown a {
    transition: all 0.3s ease;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-links li a:hover, .profile-dropdown a:hover {
    transition: all 0.3s ease;
    color: #38bdf8;
}
.nav-links li a.current {
    color: #ffffff;
    background-color: #38bdf8;
    border-radius: 20px;
    padding: 10px 15px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Flipped to white to contrast against the dark blue  */
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ease {
    color: #38bdf8; /* Light blue for "Ease" to create a visual distinction */
}

.login{
    background-color: #38bdf8; /* Light blue background for the login button */
    color: #ffffff; /* White text for contrast */
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
}

/* Hero Banner */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/hero.jpg') ;
    background-size: cover;
    background-position: 0% 20%;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    
}
.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}
.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Profile Dropdown */
.profile-dropdown {
    display: none;
}
.profile-dropdown ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 15px 0 0;
    list-style: none;
}

.nav-links > li:hover .profile-dropdown {
    display: block;
    position: absolute;
    background-color: #38bdf8;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}